@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Maitree&family=Sarabun&display=swap');


body{
    font-family: "Bai Jamjuree", sans-serif;
    background-color: rgb(255, 238, 240);
    left: 40px;
}


.container {
    bottom: 200px;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}



.circle {
    width: 300px;          
    height: 300px;
    border-radius: 50%;
    border: solid black;
    background-color: palevioletred;
    position: absolute;
   

    
}

.polygon {
    width: 300px;
    height: 300px;
    background-color: white;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%); 
    position: absolute;
    
 
}

h1{
    font-family: "Bai Jamjuree", sans-serif;
    color: black;
    font-weight: 550%;
    text-align: center;
    margin-top: 30px;
   





}

h3{
    font-family: "Bai Jamjuree", sans-serif;
    color:black;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    
    
    
}
input{
    font-family: "Bai Jamjuree", sans-serif;
    caret-color: black;
    padding: 10px 20px;
    font-size: 20px;
    
    
    


}
form{
    font-family: "Bai Jamjuree", sans-serif;
    margin-top: 50px;
    margin-left: 200px;

}
button{
    font-family: "Bai Jamjuree", sans-serif; 

}

.result-container {
    margin-top: 40px; 
    text-align: left; 
    
}
.result-title {
    font-weight: bold; 
    font-size: 22px; 
    margin-left: 350px; 
}
.result-value {
    font-size: 18px;
    font-weight: normal; 
    margin-left: 320px; 
}
.cancel-button {
    margin-top: 10px;
    margin-left: 10px;
}
.submit-button {
    margin-left: 120px;
}
.input2 {
    margin-left: 15px;
}
.input3 {
    margin-left: 60px;
}
.pic1-container {
    position: absolute;
    right: 50px;
    bottom: 15px;
}
.pic1 {
    width: 120px;
    height: 140px;
    display: block;
    animation: tiltAnimation 3s infinite;
}

@keyframes tiltAnimation {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg); 
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    } 
    100% {
        transform: rotate(10deg); 
    }
}

.pic2-container {
    position: absolute;
    left: 40px;
    bottom: 12px;
}
.pic2 {
    width: 150px;
    height: 150px;
    display: block;
    animation: tiltAnimation 3s infinite;
}

@keyframes tiltAnimation {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg); 
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    } 
    100% {
        transform: rotate(10deg); 
    }
}
.pic3-container {
    position: absolute;
    left: 570px;
    bottom: 20px;
}
.pic3 {
    width: 110px;
    height: 120px;
    display: block;
    animation: tiltAnimation 3s infinite;
}

@keyframes tiltAnimation {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg); 
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    } 
    100% {
        transform: rotate(10deg); 
    }
}
.pic4-container {
    position: absolute;
    left: 850px;
    bottom: 15px;
}
.pic4 {
    width: 100px;
    height: 130px;
    display: block;
    animation: tiltAnimation 3s infinite;
}

@keyframes tiltAnimation {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg); 
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    } 
    100% {
        transform: rotate(10deg); 
    }
}
